body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Karla;
    overflow-y: scroll;
}
.container{
    width: 90%;
}
h1 .container{
    font-weight: 700;
}
.lname{
    font-weight: 400;
    font-size: 1rem;
}
#Fname, #Lname, #email{
    width: 100%;
    height: 2.8rem;
    border-radius: 10px;
    outline: 0;
    border: 1px solid gray;
    margin-top: 0.6rem;
    box-sizing: border-box;
}
#Fname:hover, #Lname:hover, #email:hover{
    border: 1px solid hsl(169, 82%, 27%);
}
/* .error{
    color: red;
    font-size: 0.9rem;
    display: none;
} */
fieldset{
    border: 1px solid gray;
    border-radius: 10px;
    height: 2rem;
    display: flex;
    align-items: center;
}
fieldset:hover{
    border: 1px solid hsl(169, 82%, 27%);
}
.message{
    margin-top: 1rem;
}
textarea{
    width: 100%;
    outline: 0;
    border: 1px solid gray;
}
textarea:hover{
    border: 1px solid hsl(169, 82%, 27%);
}
#long-text{
    border-radius: 10px;
    border: 1px solid gray;
}
.check-container{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
button{
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    outline: 0;
    border: 0;
    background-color: hsl(169, 82%, 27%);
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
}

@media(min-width: 1024px){
    .names{
        display: flex;
        width: 100%;
        gap: 0.5rem;
    }
    .lname{
        width: 50%;
    }
    .fieldset-container{
        display: flex;
        width: 100%;
        gap: 0.5rem;
    }
    fieldset{
        width: 50%;
    }
}